<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d4d24863-e2ee-4de6-8ca9-44305dc542e2/resourcegroups/BloodDonationApiR/providers/Microsoft.Web/sites/BloodDonationApi</ResourceId>
    <ResourceGroup>BloodDonationApiR</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blooddonationapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>blooddonationapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BloodDonationApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BloodDonationApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BloodBanksDBContext" Order="11" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BloodDonationWebApi.Models.BloodBanksDBContext, BloodDonationWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContactusDBContext" Order="12" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BloodDonationWebApi.Models.ContactusDBContext, BloodDonationWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DonorsDBContext" Order="13" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BloodDonationWebApi.Models.DonorsDBContext, BloodDonationWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="14" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BloodDonationWebApi.Models.ApplicationDbContext, BloodDonationWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RequestsDBContext" Order="15" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BloodDonationWebApi.Models.RequestsDBContext, BloodDonationWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RequestsDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DonorsDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ContactusDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BloodBanksDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=True;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>