<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blooddonationmvcapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>blooddonationmvcapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BloodDonationMVCApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BloodDonationMVCApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationmvcserver.database.windows.net,1433;Initial Catalog=BloodDonationDB;User ID=farhan;Password=4116301farII:)" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWebApi.Models.ApplicationDbContext, MVCWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AddDonorDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWebApi.Models.AddDonorDBContext, MVCWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AddRequestDBContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWebApi.Models.AddRequestDBContext, MVCWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BloodBankDBContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWebApi.Models.BloodBankDBContext, MVCWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContactusDBContext" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:blooddonationapiserver.database.windows.net,1433;Initial Catalog=BloodDonationApiDB;Persist Security Info=False;User ID=Farhan;Password=4116301farII:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWebApi.Models.ContactusDBContext, MVCWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ContactusDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationmvcserver.database.windows.net,1433;Initial Catalog=BloodDonationDB;Persist Security Info=True;User ID=farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BloodBankDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationmvcserver.database.windows.net,1433;Initial Catalog=BloodDonationDB;Persist Security Info=True;User ID=farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AddRequestDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationmvcserver.database.windows.net,1433;Initial Catalog=BloodDonationDB;Persist Security Info=True;User ID=farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AddDonorDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blooddonationmvcserver.database.windows.net,1433;Initial Catalog=BloodDonationDB;Persist Security Info=True;User ID=farhan;Password=4116301farII:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:blooddonationmvcserver.database.windows.net,1433;Initial Catalog=BloodDonationDB;Persist Security Info=False;User ID=farhan;Password=4116301farII:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>